@model Boarding

@{
    int? uid = @Context.Session.GetInt32("UserId");
}

<div class="container text-center" style="max-width: 1322px;">
    <div class="row align-items-center justify-content-between">
        @* logo *@
        <div class="col-md-3">
            <a href="/"><img class="logo" src="~/images/Small_Logo.jpg" alt="logo"></a>
        </div>
        @* Membership *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#membership" class="no-decoration">Membership</a>
            </div>
        </div>
        @* yourdogs *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#your-dogs" class="no-decoration">Your Dogs</a>
            </div>
        </div>

        @* Boarding *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#boardings" class="no-decoration">Boardings</a>
            </div>
        </div>
        @* Login *@
            <div class="col-md-3 d-flex align-items-center">
                <div class="col-md-4 mb-3 d-flex align-items-center">
                    @{
                        if(Context.Session.GetInt32("UserId") == null)
                        {
                            <a href="/users/new" class="d-block text-black no-decoration"><h3>REGISTER</h3></a>
                            <a href="/users/new" class="d-block m-2"><button class="btn btn-info">LOGIN</button></a>
                        }
                        else
                        {
                            int? currentUserId = Context.Session.GetInt32("UserId");

                            <a href="/users/@currentUserId/show" class="d-block text-black no-decoration"><h3>View Profile</h3></a>
                            <a href="/users/logout" class="d-block m-2"><button class="btn btn-info">LOGOUT</button></a>
                        }
                    }
                </div>
          </div>
    </div>
</div>

<br>

@{
  // default date is always current time
  DateTime selectedDate = DateTime.Now;

  // default time is always current time
  DateTime selectedTime = DateTime.Now;

  var dogDictionary = ViewBag.dogDictionary as Dictionary<string, int>;

}


<div class="text-center container drop-shadow p-5">
  <div class="row d-flex">
    <div class="col-1"></div>
    <h1 class="display-4 mb-5 col-6">Edit Your Boarding</h1>
    <div class="col-1">
      <form asp-action="BoardingDelete" asp-route-id="@Model.BoardingId" method="post">
        <button class="btn btn-danger">REMOVE BOARDING</button>
      </form>
    </div>
  </div>

  <div>
    <form asp-action="UpdateBoarding" asp-controller="Boarding" asp-route-id="@Model.BoardingId" method="post">
      <table>
            <tbody>
                <tr class="m-2">
                    <th class="col-2 display-6">
                      <label for="Date" class="form-label">Date</label>
                    </th>
                    <td class="col-6">
                      <input asp-for="Date" value="selectedDate">
                    </td>
                </tr>
                <tr class="m-2">
                    <th class="col-2 display-6">
                      <label for="Time" class="form-label">Time</label>
                    </th>
                    <td class="col-6">
                      <input asp-for="Time" value="selectedTime" id="timeInput" step="1800">
                    </td>
                </tr>
                <tr class="m-2">
                    <th class="col-2 display-6">
                      <label for="Dog" class="form-label">Boarding For</label>
                    </th>
                    <td class="col-6">
                      <select asp-for="DogId" name="DogId" >
                      @if(dogDictionary != null)
                      {
                        foreach(var dog in dogDictionary)
                        {
                          <option class="display-6 kennel-select" value="@dog.Value">@dog.Key</option>
                        }
                      }
                      </select>
                    </td>
                </tr>
                <tr class="m-4">
                    <th class="col-2 display-6">
                      <label for="Kennel" class="form-label">Kennel</label>
                    </th>
                    <td>
                      <label for="kennel-select" class="display-6" >Available Kennels: </label>
                      <select name="Kennel" id="kennel-select" class="display-6 m-3" value="@Model.Kennel">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                      </select>
                      <span asp-validation-for="Kennel"></span>
                    </td>
                </tr>
                <tr class="m-2">
                    <th class="col-2 display-6">
                      <label for="Notes" class="form-label">Notes</label>
                    </th>
                    <td>
                      <textarea type="text" class="form-control" asp-for="Notes" id="Notes" name="Notes" cols="30" rows="5"></textarea>
                    </td>
                </tr>
                <tr class="m-2">
                  <div class="hidden-element">
                    <input asp-for="UserId" value="@uid">
                  </div>
                </tr>
            </tbody>
        </table>
      <div class="m-5">
        <input type="submit" value="SUBMIT CHANGES" class="btn btn-primary">
      </div>
      <div>

      </div>
    </form>

    <div>



    </div>

  </div>
  <br>
  <br>
</div>

<br>
<br>
<br>

<div>
  @await Html.PartialAsync("_NavigationBar")
</div>